<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJediWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2978/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJediWebService" contract="JediWebService.IJediWebService"
                name="BasicHttpBinding_IJediWebService" />
        </client>
    </system.serviceModel>
</configuration>