@{
    ViewBag.Title = "A Propos";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Nous sommes étudiant à l'école d'ingénieur ISIMA (Institut Supérieur d'Informatique, de Modélisation et de leurs Applications).</p>
