@{
    ViewBag.Title = "Contactez nous !";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Développeur 1 :</strong>   <a href="mailto:mizoules.vincent@isima.fr">mizoules[dot]vincent[at]isima[dot]fr</a><br />
    <strong>Développeur 2 :</strong> <a href="mailto:raberin.alexandre@isima.fr">raberin[dot]alexandre[at]isima[dot]fr</a>
</address>