@{
    ViewBag.Title = "Accueil";
    ViewBag.SubTitle = "Ce site a été developpé lors du cours de Service Réseau en 2ème année à l'ISIMA.";
}

@section Content {

<!-- Begin roatet box-2 -->
<div class="rotate-box-2-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("Index", "Jedi", null)#content" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                    <span class="rotate-box-icon"><i class="fa fa-user-secret"></i></span>
                    <div class="rotate-box-info">
                        <h4>Jedis</h4>
                        <p>Créez, modifiez, supprimez des Jedis selon votre volonté.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("Index", "Stade", null)#content" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                    <span class="rotate-box-icon"><i class="fa fa-bank"></i></span>
                    <div class="rotate-box-info">
                        <h4>Stades</h4>
                        <p>Créez, modifiez, supprimez des stades selon votre humeur.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("Index", "Match", null)#content" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                    <div class="rotate-box-info">
                        <h4>Matchs</h4>
                        <p>Attribuez à chacun des matchs, un stade et deux Jedis selon votre guise.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("Index", "Tournoi", null)#content" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                    <span class="rotate-box-icon"><i class="fa fa-play-circle"></i></span>
                    <div class="rotate-box-info">
                        <h4>Tournoi</h4>
                        <p>Les Jedis s'affronteront selon les matchs que vous avez préparé.</p>
                    </div>
                </a>
            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div>
<!-- End rotate-box-2 -->

}